{% extends 'base.html' %}
{% load static %}

{% block title %}
Fact Checking
{% endblock %}

{% block content %}
    <section class="hero-section">
        <div class="hero-content">
            <h1 class="hero-title">Proverite istinitost izjava pomocu AI </h1>
            <p class="hero-description"> Nas AI sistem automatski analizira govor, identifikuje kljucne tvrdje i proverava njihovu tacnost koristeci pouzdane izvore. Otkrijte dezinformacije i osigurajte da informacije kojima verujete budu tacne.</p>
            <div class="hero-buttons">
                <div>
                   <form method="post" enctype="multipart/form-data" action="{% url 'uploadFile' %}">
                        {% csrf_token %}
                        <div class="file-input-wrapper">
                            <p class="drag-text">Prevucite fajl ovde ili</p>
                            <label for="fileInput" class="custom-file-upload">
                                Izaberite fajl
                            </label>
                            <input type="file" id="fileInput" name="fileInput" accept=".mp3,.mp4">
                            <div id="fileName"></div>
                        </div>
                        <button id="executeButton" type="submit" disabled>Izvršite proveru</button>
                    </form>

                </div>
            </div>
        </div>
    </section>
    <div class="blog-cards-container">
        <button class="carousel-button prev">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <path d="M15 19l-7-7 7-7"/>
            </svg>
        </button>
        <button class="carousel-button next">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
                <path d="M9 5l7 7-7 7"/>
            </svg>
        </button>
        <div class="blog-cards">
            <a href="#" class="blog-card">
                <img src="images/vucic_sava_centar.jpg" alt="Vučić u Sava Centru" class="blog-card-image">
                <div class="blog-card-content">
                    <h2 class="blog-card-title">Izjave o Sava Centru</h2>
                    <p class="blog-card-description">Analiza izjava predsednika Vučića o renoviranju i budućnosti Sava Centra kao kulturnog simbola Beograda.</p>
                    <div class="blog-card-link">
                        Proverite činjenice
                    </div>
                </div>
            </a>
            <a href="#" class="blog-card">
                <img src="images/vucic_jagodina.jpg" alt="Vučić u Jagodini" class="blog-card-image">
                <div class="blog-card-content">
                    <h2 class="blog-card-title">Poseta Jagodini</h2>
                    <p class="blog-card-description">Provera činjenica iz govora tokom zvanične posete Jagodini i najave novih investicija u ovom regionu.</p>
                    <div class="blog-card-link">
                        Proverite činjenice
                    </div>
                </div>
            </a>
            <a href="#" class="blog-card">
                <img src="images/insajder_vucic.jpg" alt="Insajder intervju" class="blog-card-image">
                <div class="blog-card-content">
                    <h2 class="blog-card-title">Insajder intervju</h2>
                    <p class="blog-card-description">Detaljna analiza ključnih izjava i podataka iznetih tokom intervjua za Insajder televiziju.</p>
                    <div class="blog-card-link">
                        Proverite činjenice
                    </div>
                </div>
            </a>
            <a href="#" class="blog-card">
                <img src="images/izbori_2017.jpeg" alt="Izbori 2017" class="blog-card-image">
                <div class="blog-card-content">
                    <h2 class="blog-card-title">Izborna kampanja 2017</h2>
                    <p class="blog-card-description">Retrospektiva i provera činjenica iz predizborne kampanje 2017. godine i ispunjenja datih obećanja.</p>
                    <div class="blog-card-link">
                        Proverite činjenice
                    </div>
                </div>
            </a>
            <a href="#" class="blog-card">
                <img src="images/vucic_precednistvo.jpg" alt="Predsedništvo" class="blog-card-image">
                <div class="blog-card-content">
                    <h2 class="blog-card-title">Izjave iz Predsedništva</h2>
                    <p class="blog-card-description">Analiza ključnih izjava i odluka donetih tokom važnih sastanaka u Predsedništvu Srbije.</p>
                    <div class="blog-card-link">
                        Proverite činjenice
                    </div>
                </div>
            </a>
            <a href="#" class="blog-card">
                <img src="images/vucic_smg.jpg" alt="Matematička gimnazija" class="blog-card-image">
                <div class="blog-card-content">
                    <h2 class="blog-card-title">Poseta Matematičkoj gimnaziji</h2>
                    <p class="blog-card-description">Provera činjenica iz govora o ulaganju u obrazovanje i podršci mladim talentima.</p>
                    <div class="blog-card-link">
                        Proverite činjenice
                    </div>
                </div>
            </a>
        </div>
    </div>

    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}