{% extends 'base.html' %}

{% block title %}
Deep Check
{% endblock %}

{% block content %}
    <section class="hero-section">
        <div class="hero-content">
            <h1 class="hero-title">Proverite istinitost izjava pomocu AI </h1>
            <p class="hero-description"> Nas AI sistem automatski analizira govor, identifikuje kljucne tvrdje i proverava njihovu tacnost koristeci pouzdane izvore. Otkrijte dezinformacije i osigurajte da informacije kojima verujete budu tacne.</p>

        </div>
    </section>

{% endblock %}